rofi_command=rofi -dmenu -i -p 'Kaomoji:' -monitor -2 -show-icons -bw 3 -icon-theme "Papirus" -line-padding 10 -hide-scrollbar true -padding 20 -width 400 -location 2 -font "Fantasque Sans Mono 10" -color-enabled true -color-window "$BACKGROUND,$BORDER,$SEPARATOR" -color-normal "$BACKGROUND_ALT,$FOREGROUND,$BACKGROUND_ALT,$HIGHLIGHT_BACKGROUND,$HIGHLIGHT_FOREGROUND"
//rofi_command=rofi -dmenu -p : -i -monitor -2
xsel_command=xsel -b -i
xdotool_command=xdotool sleep 0.2 type --delay 100
